# Gradle
.gradle/
build/

# Netbeans
.nb-gradle/

# IntelliJ IDEA
out/
.idea/
*.iml

#Eclipse
.settings

# Custom - Gluon Cloud Link license
DevoxxClientMobile/src/main/resources/gluoncloudlink_config.json

#Custom - Gluon Mobile license
gluonmobile.license
